.cardHeading {
    display: flex;
    justify-content: space-between;
    /* font-family: 'General Sans Regular'; */
    font-weight: 600; 
}

.cardDescription {
    font-family: 'General Sans Regular';
    font-weight: bold;
}