.blue-brand{
    color:#22B2E6;
}

.blue-background{
    background-color: #22B2E6;
}

.blue-text{
    color: #0E87D1;
}

.horizontal-rular{
    width: 100%;
    border-top : 1px solid #B0B0B0;
    margin: "0px",
}