.footer{
    width: 100%;
    height: fit-content;
    background-color: #383839;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.footerDivision{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
}
.footerTextHeading{
    /* font-family: var(--font-generalSans-bold); */
    font-family: 'General Sans Regular';
    font-size: 1.5rem;
    /* font-weight: ; */
    line-height: 2.5rem;
    padding-bottom: 0.5rem;
    color: #22B2E6;
}
.footerTextSubheading{
    font-family: var(--font-generalSans-regular);
    font-size: 1rem;
    line-height: 2rem;
    color: #22B2E6;
}