.footer{
    width: 100%;
    background-color: #383839;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10rem;
    
    font-family: var(--font-generalSans-bold);
    font-size: large;
}