.navbar{
    /* background-color: var(--primary-color); */
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid black;
    z-index: 999999;
    background-color: #FFFFFF;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.loginButton{
    background-color: #22B2E6;
}
