.listingMenu{
    position: fixed;
    padding-top: 6.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #FFFFFF;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 9999;
}
.buttonsDiv{
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Right{
    width: 28vw;
}
.sortByButtonDiv{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}
.sortButton{
    display: flex;
    width: 12vw;
    justify-content: space-between;
    align-items: center;
}